# Node.js
node_modules/
.npm
dist/
build/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.sqlite3
backend/db.sqlite3
backend/media/
backend/pip_out.txt
.DS_Store